* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
  }

  .container {
    max-height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

.item{
    
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.item.one, .item.three, .item.five, .item.seven{
    background: red;
    height: 300px;
    width: 200px;

}
.item.two, .item.four, .item.six{
    background: green;
    height: 200px;
    width: 300px;
}